services:
  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: azerty
      POSTGRES_DB: portfolio
    ports:
      - 7000:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: